{% if site.fixed_navigation %}
<div class="sticky">
{% endif %}
  <div data-magellan-expedition="fixed">
  <nav class="top-bar" data-topbar>

    <!--
    <ul class="title-area right">
        <li class="name">
          <h1><a href="{{ root_url }}/">{{ site.title }} <i class="fa fa-heart"></i></i></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    -->


    <section class="top-bar-section">
      <ul class="main-navigation right">
          <li><a href="https://github.com/adonaac/mogamett">github</a></li>
          <li><a href="https://twitter.com/adnzzzzZ">twitter</i></a></li>
      </ul>

      <ul class="main-navigation left">
          <li><a href="/">FuccboiGDX</a></li>

          <li class="has-dropdown">
          <a href="/documentation">Documentation</a>
          <ul class="dropdown">
            <li class="has-dropdown"><a href="#">Main</a>
            <ul class="dropdown">
                <li><a href="/documentation/fg">fg</a></li>
                <li><a href="/documentation/render">Render</a></li>
                <li><a href="/documentation/world">World</a></li>
            </ul>
            </li>
            <li class="has-dropdown"><a href="#">Logic</a>
            <ul class="dropdown">
            <li><a href="/documentation/class">Class</a></li>
            <li><a href="/documentation/collision">Collision</a></li>
            <li><a href="/documentation/debug">Debug</a></li>
            <li><a href="/documentation/entity">Entity</a></li>
            <li><a href="/documentation/gamestate">Gamestate</a></li>
            <li><a href="/documentation/input">Input</a></li>
            <li><a href="/documentation/level">Level</a></li>
            <li><a href="/documentation/loader">Loader</a></li>
            <li><a href="/documentation/objectpool">Object Pool</a></li>
            <li><a href="/documentation/physicsbody">PhysicsBody</a></li>
            <li><a href="/documentation/serialization">Serialization</a></li>
            <li><a href="/documentation/solid">Solid</a></li>
            <li><a href="/documentation/tilemap">Tilemap</a></li>
            <li><a href="/documentation/timer">Timer</a></li>
            <li><a href="/documentation/utils">Utils</a></li>
            <li><a href="/documentation/vector">Vector</a></li>
            </ul>
            </li>
            <li class="has-dropdown"><a href="#">Visual</a>
            <ul class="dropdown">
            <li><a href="/documentation/animation">Animation</a></li>
            <li><a href="/documentation/background">Background</a></li>
            <li><a href="/documentation/camera">Camera</a></li>
            <li><a href="/documentation/layer">Layer</a></li>
            <li><a href="/documentation/particles">Particles</a></li>
            <li><a href="/documentation/text">Text</a></li>
            <li><a href="/documentation/uitools">UI Tools</a></li>
            </ul>
            </li>
          </ul>
          </li>

          <!--
          <li class="has-dropdown{% if page.url == '/no-sidebar/index.html' or page.url == '/no-sidebar/left-sidebar/index.html' or page.url == '/no-sidebar/right-sidebar/index.html' or page.url == '/no-sidebar/example-formatting/index.html' %} active{% endif %}">
            <a href="{{ root_url }}/no-sidebar">No Sidebar Page</a>

            <ul class="dropdown">
              <li><a href="{{ root_url }}/no-sidebar/left-sidebar">Left Sidebar Page</a></li>
              <li><a href="{{ root_url }}/no-sidebar/right-sidebar">Right Sidebar Page</a></li>
              <li><a href="{{ root_url }}/no-sidebar/example-formatting">Example Formatting</a></li>
            </ul>

          </li>

          <li{% if page.url == '/blog/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog">Blog</a></li>

          <li{% if page.url == '/blog/archives/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/archives">Archives</a></li>
          -->

      </ul>

    </section>
  </nav>
  </div>
{% if site.fixed_navigation %}
</div>
{% endif %}

{% if page.title == 'Documentation' %}
<div id="nav" class="fixed right show-for-large-up">
<p>

{% if page.title == 'Documentation' %}
<strong>Documentation</strong><br>
<a href="/documentation/mg">mg</a><br>
<a href="/documentation/animation">Animation</a><br>
<a href="/documentation/background">Background</a><br>
<a href="/documentation/camera">Camera</a><br>
<a href="/documentation/class">Class</a><br>
<a href="/documentation/collision">Collision (Engine)</a><br>
<a href="/documentation/debug">Debug</a><br>
<a href="/documentation/entity">Entity</a><br>
<a href="/documentation/gamestate">Gamestate</a><br>
<a href="/documentation/group">Group</a><br>
<a href="/documentation/input">Input</a><br>
<a href="/documentation/loader">Loader</a><br>
<a href="/documentation/particles">Particles (Engine)</a><br>
<a href="/documentation/physicsbody">PhysicsBody (Engine)</a><br>
<a href="/documentation/solid">Solid (Engine)</a><br>
<a href="/documentation/text">Text</a><br>
<a href="/documentation/tilemap">Tilemap</a><br>
<a href="/documentation/timer">Timer</a><br>
<a href="/documentation/utils">Utils</a><br>
<a href="/documentation/vector">Vector</a><br>
<a href="/documentation/world">World (Engine)</a><br>
{% endif %}

</p>
</div>
{% endif %}

<!--
<div data-magellan-expedition="fixed"> 
<dl class="side-nav fixed"> 
    <dd data-magellan-arrival="module_reference">
    <a href="#module_reference">Module Reference</a>
    </dd> 
</dl> 
</div>
-->
