{% if site.fixed_navigation %}
<div class="sticky">
{% endif %}
  <nav class="top-bar" data-topbar role="navigation">

    <!--
    <ul class="title-area right">
        <li class="name">
          <h1><a href="{{ root_url }}/">{{ site.title }} <i class="fa fa-heart"></i></i></i></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    -->


    <section class="top-bar-section">
      <ul class="main-navigation right show-for-medium-up">
          <li><a href="https://github.com/adonaac/fuccboiGDX">github</a></li>
          <li><a href="https://twitter.com/adnzzzzZ">twitter</i></a></li>
      </ul>

      <ul class="main-navigation left">
          <li><a href="/">fuccboiGDX</a></li>

          <li class="has-dropdown">
          <a href="/documentation">documentation</a>
          <ul class="dropdown">
            <li class="has-dropdown"><a href="#">Main</a>
            <ul class="dropdown">
                <li><a href="/documentation/fg">fg</a></li>
                <li><a href="/documentation/render">Render</a></li>
                <li><a href="/documentation/world">World</a></li>
            </ul>
            </li>
            <li class="has-dropdown"><a href="#">Logic</a>
            <ul class="dropdown">
            <li><a href="/documentation/area">Area</a></li>
            <li><a href="/documentation/class">Class</a></li>
            <li><a href="/documentation/debug">Debug</a></li>
            <li><a href="/documentation/entity">Entity</a></li>
            <li><a href="/documentation/gamestate">Gamestate</a></li>
            <li><a href="/documentation/input">Input</a></li>
            <li><a href="/documentation/loader">Loader</a></li>
            <li><a href="/documentation/objectpool">ObjectPool</a></li>
                <li class="has-dropdown"><a href="#">Physics</a>
                <ul class="dropdown">
                    <li><a href="/documentation/collision">Collision</a></li>
                    <li><a href="/documentation/physicsbody">PhysicsBody</a></li>
                    <li><a href="/documentation/solid">Solid</a></li>
                </ul>
                </li>
            <li><a href="/documentation/serial">Serial</a></li>
            <li><a href="/documentation/timer">Timer</a></li>
            <li><a href="/documentation/utils">utils</a></li>
            <li><a href="/documentation/vector">Vector</a></li>
            </ul>
            </li>
            <li class="has-dropdown"><a href="#">Visual</a>
            <ul class="dropdown">
            <li><a href="/documentation/animation">Animation</a></li>
            <li><a href="/documentation/background">Background</a></li>
            <li><a href="/documentation/camera">Camera</a></li>
            <li><a href="/documentation/particles">Particles</a></li>
            <li><a href="/documentation/spritebatch">Spritebatch</a></li>
            <li><a href="/documentation/text">Text</a></li>
            <li><a href="/documentation/tilemap">Tilemap</a></li>
            <li><a href="/documentation/uitools">UI Tools</a></li>
            </ul>

            <li class="has-dropdown"><a href="#">Sound</a>
            <ul class="dropdown">
            <li><a href="/documentation/sound">Sound</a></li>
            </ul>
            </li>
          </ul>
          </li>

          <!--
          <li class="has-dropdown{% if page.url == '/no-sidebar/index.html' or page.url == '/no-sidebar/left-sidebar/index.html' or page.url == '/no-sidebar/right-sidebar/index.html' or page.url == '/no-sidebar/example-formatting/index.html' %} active{% endif %}">
            <a href="{{ root_url }}/no-sidebar">No Sidebar Page</a>

            <ul class="dropdown">
              <li><a href="{{ root_url }}/no-sidebar/left-sidebar">Left Sidebar Page</a></li>
              <li><a href="{{ root_url }}/no-sidebar/right-sidebar">Right Sidebar Page</a></li>
              <li><a href="{{ root_url }}/no-sidebar/example-formatting">Example Formatting</a></li>
            </ul>

          </li>

          <li{% if page.url == '/blog/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog">Blog</a></li>

          <li{% if page.url == '/blog/archives/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/blog/archives">Archives</a></li>
          -->

      </ul>

    </section>
  </nav>
{% if site.fixed_navigation %}
</div>
{% endif %}

{% if page.title == 'documentation' %}
<div id="nav" class="fixed right show-for-large-up">
<ul class="side-nav">
{% if page.title == 'documentation' %}
<strong><a href="/documentation">documentation</a><br><br></strong>
<li><a href="/documentation/fg">fg</a></li>
<li><a href="/documentation/animation">Animation</a></li>
<li><a href="/documentation/area">Area (Engine)</a></li>
<li><a href="/documentation/background">Background</a></li>
<li><a href="/documentation/camera">Camera</a></li>
<li><a href="/documentation/class">Class</a></li>
<li><a href="/documentation/collision">Collision (Engine)</a></li>
<li><a href="/documentation/debug">Debug</a></li>
<li><a href="/documentation/entity">Entity (Engine)</a></li>
<li><a href="/documentation/gamestate">Gamestate</a></li>
<li><a href="/documentation/input">Input</a></li>
<li><a href="/documentation/loader">Loader</a></li>
<li><a href="/documentation/objectpool">ObjectPool (Engine)</a></li>
<li><a href="/documentation/particles">Particles</a></li>
<li><a href="/documentation/physicsbody">PhysicsBody (Engine)</a></li>
<li><a href="/documentation/render">Render (Engine)</a></li>
<li><a href="/documentation/serial">Serial</a></li>
<li><a href="/documentation/solid">Solid (Engine)</a></li>
<li><a href="/documentation/sound">Sound</a></li>
<li><a href="/documentation/spritebatch">Spritebatch</a></li>
<li><a href="/documentation/text">Text</a></li>
<li><a href="/documentation/tilemap">Tilemap</a></li>
<li><a href="/documentation/timer">Timer</a></li>
<li><a href="/documentation/uitools">UI Tools</a></li>
<li><a href="/documentation/utils">Utils</a></li>
<li><a href="/documentation/vector">Vector</a></li>
<li><a href="/documentation/world">World (Engine)</a></li>
{% endif %}
</ul>
</div>
{% endif %}

<div data-magellan-expedition>
<div id="nav" class="fixed right show-for-large-up">
<ul class="side-nav">
{% if page.title == 'Area' or page.title == 'Animation' or page.title == 'Background' or page.title == 'Camera' or page.title == 'Class' or page.title == 'Collision' or page.title == 'Debug' or page.title == 'Entity' or page.title == 'fg' or page.title == 'Gamestate' or page.title == 'Input' or page.title == 'Loader' or page.title == 'ObjectPool' or page.title == 'Particles' or page.title == 'PhysicsBody' or page.title == 'Render' or page.title == 'Serial' or page.title == 'Solid' or page.title == 'Sound' or page.title == 'Spritebatch' or page.title == 'Text' or page.title == 'Tilemap' or page.title == 'Timer' or page.title == 'UI Tools' or page.title == 'utils' or page.title == 'Vector' or page.title == 'World' %}
<strong><a href="/documentation">documentation</a><br><br></strong>
{% endif %}

{% if page.title == 'Animation' %}
{% sidenav Example Description Methods %}
{% nav new update draw addFrame getHeight getWidth play reset seek setDelay setMode setSpeed stop %}
{% sidenav Attributes %}
{% nav3 current_frame frame_height frame_width size %}
{% endif %}

{% if page.title == 'Area' %}
{% sidenav Example Description %}
{% sidenav2 [Area Methods] %}
{% nav activate deactivate %}
{% sidenav2 [Creation Methods] %}
{% nav3 createEntity createTiledMapEntities generateCollisionSolids %}
{% sidenav2 [HitFrameStop Methods] %}
{% nav3 hitFrameStopAdd %}
{% sidenav2 [Query Methods] %}
{% nav3 applyAreaCircle applyAreaLine applyAreaRectangle queryAreaCircle queryAreaLine queryAreaRectangle %}
{% sidenav Attributes %}
{% nav2 [active active] [fg fg] [position x y] [world world] %}
{% endif %}

{% if page.title == 'Background' %}
{% sidenav Example Description Methods %}
{% nav new update draw %}
{% sidenav Attributes %}
{% nav2 [position x y] [size w h] %}
{% endif %}

{% if page.title == 'Camera' %}
{% sidenav Example Description Methods %}
{% nav new update draw attach detach follow getPosition getMousePosition getCameraCoords getWorldCoords removeBounds setBounds setDeadzone shake move moveTo rotate rotateTo %}
{% sidenav Attributes %}
{% nav3 debug_draw follow_lead follow_lerp follow_style max_shake_intensity target %}
{% endif %}

{% if page.title == 'Class' %}
{% sidenav Description Example %}
{% endif %}

{% if page.title == 'Collision' %}
{% sidenav2 [Description] [Physics Entities] [Collision Classes] %}
{% endif %}

{% if page.title == 'Debug' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'Entity' %}
{% sidenav Description %}
{% sidenav Attributes %}
{% nav area dead id position %}
{% endif %}

{% if page.title == 'fg' %}
{% sidenav Description %}
{% sidenav2 [Modules and Instances] %}
{% sidenav Methods %}
{% sidenav Attributes %}
{% endif %}

{% if page.title == 'Gamestate' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'Input' %}
{% sidenav Example Description Methods %}
{% nav bind down pressed released unbind unbindAll update keypressed keyreleased mousepressed mousereleased gamepadpressed gamepadreleased gamepadaxis %}
{% sidenav Constants %}
{% endif %}

{% if page.title == 'Loader' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'ObjectPool' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'Particles' %}
{% sidenav Example Description Methods %}
{% nav spawnParticles %}
{% endif %}

{% if page.title == 'PhysicsBody' %}
{% sidenav Example Description Methods %}
{% nav physicsBodyNew physicsBodyUpdate physicsBodyDraw addBody addJoint changeCollisionClass removeBody removeJoint removeShape %}
{% sidenav Attributes %}
{% nav2 [bodies bodies] [body body] [fixture fixture] [fixtures fixtures] [joints joints] [sensor sensor] [sensors sensors] [shape shape] [shapes shapes] [shape_name shape_name] [size w h] [r r] [s s] %}
{% endif %}

{% if page.title == 'Render' %}
{% sidenav Render Layer %}
{% sidenav2 [Layer Methods] %}
{% nav addLayer addShaderToLayer addToLayer sendToShader setShaderClassList setLayerOrder sortLayerRenderOrder sortRenderOrder %} 
{% sidenav2 [Render Methods] %}
{% nav3 renderAttach renderDetach %}
{% endif %}

{% if page.title == 'Serial' %}
{% sidenav Example Description Methods %}
{% nav loadArea loadObject saveArea saveObject %}
{% sidenav2 [Saving and Loading] %}
{% endif %}

{% if page.title == 'Solid' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'Sound' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'Spritebatch' %}
{% sidenav Example Description Methods %}
{% nav new update draw %}
{% sidenav Attributes %}
{% nav2 [image image] [size size] [position x y] [usage_hint usage_hint] %}
{% endif %}

{% if page.title == 'Text' %}
{% sidenav Example Description Character Text %}
{% endif %}

{% if page.title == 'Tilemap' %}
{% sidenav Example Description Methods %}
{% nav new draw autoTile changeTile removeTile setAutoTileRules setCollisionData %}
{% sidenav Attributes %}
{% nav2 [area area] [tile_size tile_width, tile_height] [tilemap_size w, h] [position x, y] [corners x1, y1, x2, y2] %}
{% sidenav Tiled %}
{% nav3 objects tile_grid solid_grid tiled_data %}
{% endif %}

{% if page.title == 'Timer' %}
{% sidenav Example Description Methods %}
{% nav new update after cancel clear destroy during every tween %}
{% endif %}

{% if page.title == 'UI Tools' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'utils' %}
{% sidenav mlib Moses utils Methods %}
{% nav graphics.pushRotate graphics.pushRotateScale math.chooseWithProbability math.clamp math.isBetween math.random math.round table.copy table.random angleToDirection4 directionToAngle4 %}
{% endif %}

{% if page.title == 'Vector' %}
{% sidenav Description %}
{% endif %}

{% if page.title == 'World' %}
{% sidenav Description Attributes %}
{% nav3 areas box2d_world camera fg layers layers_order %}
{% endif %}

</ul>
</div>
</div>
